<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Evos Emulator</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
	<div class="container">
		<nav>
			<div class="logo"><img src="static/EvoS-Logo.png"></div>
			<div class="buttons">
				<button>Downloads</button>
				<button>Links</button>
			</div>
		</nav>
		<div class="content">
			<h3>How to play</h3>
			<ul>
				<li>If you don't have the game files, you can <a href="https://drive.google.com/file/d/1C-WnIA5YcBUE5MQ9vbQGwamVs1aSGXKU/view?usp=sharing">download them here</a></li>
				<li>If you already have the game files, you can configure it to work with the public lobby server</li>
			</ul>

			<br/>

			<h3>Configure an existing installation</h3>
			<p class="note">You can skip this step if you downloaded the game from a zip the file</p>
			<p>1. Create a Config directory inside your <i>Live</i> directory of your game's installation folder</p>
			<p>2. Add a new file inside that folder with the name <i>AtlasReactorConfig.json</i></p>
			<p>3. Write this in it:</p>
			<textarea>TODO!</textarea>

			<br/>

			<h3>Running a local lobby server</h3>
			<p>TODO!</p>

			<br/>
			<h3>Downloads</h3>
			<ul>
				<li><a href="https://drive.google.com/file/d/1C-WnIA5YcBUE5MQ9vbQGwamVs1aSGXKU/view?usp=sharing">Game Files</a></li>
				<li><a href="#">Lobby.zip</a></li>
				<li><a href="#">Client's Assembly-CSharp.dll</a></li>
				<li><a href="#">Server's Assembly-CSharp.dll</a></li>
			</ul>

			<h3>Links</h3>
			<ul>
				<li><a href="#">Github</a></li>
				<li><a href="#">Discord</a></li>
			</ul>
			
		</div>
	</div>
</body>
</html>